<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.SchoolDataEntityMapper">
  <insert id="insertSelective" parameterType="com.xuanli.oepcms.entity.SchoolDataEntity">
    insert into xl_school_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <select id="getSchoolByRegion" parameterType="map" resultType="map">
  	SELECT
		id id,
		region region,
		type type,
		school_name schoolName
	FROM
		xl_school_data
	WHERE
		1 = 1
	<if test="type != null">
       AND type = #{type}
     </if>
	AND region =#{region}
  </select>
  
  
  
  
</mapper>