<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanli.oepcms.mapper.UserUnitEntityMapper">
  <resultMap id="BaseResultMap" type="com.xuanli.oepcms.entity.UserUnitEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="unit_id" jdbcType="BIGINT" property="unitId" />
    <result column="score" jdbcType="DOUBLE" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, unit_id, score
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xl_user_unit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteUserUnitEntity" parameterType="java.lang.Long">
    delete from xl_user_unit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertUserUnitEntity" parameterType="com.xuanli.oepcms.entity.UserUnitEntity">
    insert into xl_user_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateUserUnitEntity" parameterType="com.xuanli.oepcms.entity.UserUnitEntity">
    update xl_user_unit
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=BIGINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="getWordList" parameterType="map" resultMap="map">
  	SELECT
		u.id unitId,
		(
			SELECT
				xb. NAME
			FROM
				xl_unit xb
			WHERE
				xb.id = u.id
		) unitName,
		(
			SELECT
				xun.score
			FROM
				xl_user_unit xun
			WHERE
				xun.unit_id = u.id
			AND xun.user_id = #{userId}
		) score
	FROM
		xl_section_detail se
	LEFT JOIN xl_section e ON se.section_id = e.id
	LEFT JOIN xl_unit u ON e.unit_id = u.id
	LEFT JOIN xl_book b ON u.book_id = b.id
	WHERE
		se.enable_flag = 'T'
	AND e.enable_flag = 'T'
	AND u.enable_flag = 'T'
	AND b.enable_flag = 'T'
	AND se.type = 1
	AND b.id = #{bookId}
	GROUP BY
		u.id
	ORDER BY
		u.id;
  </select>
  
  	<select id="getWordDetailList" parameterType="map" resultMap="map">
		SELECT
			se.id,
			se.text,
			se.audio_path audioPath,
			se.m_audio_path mAudioPath,
			se.w_audio_path wAudioPath,
			se.word_mean wordMean,
			u.id unitId,
			u.`name` unitName
		FROM
			xl_section_detail se
		LEFT JOIN xl_section e ON se.section_id = e.id
		LEFT JOIN xl_unit u ON e.unit_id = u.id
		LEFT JOIN xl_book b ON u.book_id = b.id
		WHERE
			se.enable_flag = 'T'
		AND e.enable_flag = 'T'
		AND u.enable_flag = 'T'
		AND b.enable_flag = 'T'
		AND se.type = 1
		AND u.id = #{sectionDetailId}
	</select>  
	
	<update id="submitWordUnit" parameterType="map" >
		<selectKey keyProperty="size" resultType="int" order="BEFORE">
		  select count(id) id from xl_user_unit where unit_id=#{unitId} and user_id=#{userId}
		</selectKey>
		<if test="size==0">
		  insert into xl_user_unit(unit_id,user_id,score) values(#{unitId},#{userId},#{score})
		</if>
		<if test="size>0">
		  update xl_user_unit set score = #{score} whereunit_id=#{unitId} and user_id=#{userId}
		</if>
	</update>
  
</mapper>